
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: #53514c;


}


header {
    height: 60px;
    position: relative;
}

.logo {
    display:inline-block ;
}

.logo img {
    width: 100%;
}

header .logo {
    width: 200px;
    position: absolute;
    top: 17px;
    left: 15px;
    
}

header nav {
    /* スマホの画面だと表示されないから一旦非表示 */
    display: none;
}


#key_visual {
    width: 100%;
}


#key_visual img {
    width: 100%;
}


main h2 {
    background-color:#B99566 ;
    height: 40px;
    padding-left: 15px;
    line-height: 40px;
    color : white;
    /* 太字になっているものを普通に戻す */
    font-weight: normal;

}

main img {
    width: 100%;
}

main .container {
    padding: 10px;
}

#information ul li {
    padding: 10px;

}
/* リストの偶数のみを選択する */
#information ul li:nth-child(even) {
    background-color: #f5e1c7;
}
#information ul li　p {
    font-size: 12px;
    
}
#information ul li p::before {
    content:"▶";
    padding-right: 10px;
    padding-left: 15px;
}


#information ul li time {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
}

#gourmet article {
    margin-bottom: 25px;
}


#gourmet article figure {
    margin-bottom: 10px;
}


#gourmet article figure img {
    width: 100%;
}

#gourmet .area  li {
    display: inline-block;
    padding: 5px 10px;
    background-color: #B99566 ;
    color: #fff;
    border-radius: 5px;
}

#gourmet .box_ttl {
    border-left: 4px solid black;
    padding: 5px 0 5px 10px;
}

#gourmet .box_ttl h3 {
    margin-bottom: 10px;
}

#gourmet .box_ttl p {
    margin-top: 15px;
    font-size: 14px;

}
#gourmet .box_ttl p::before {
    content:"-";
    padding: 0 10px;
}


#gourmet .box_ttl ul {
font-size: 10px;

}

footer {
    width: 100%;
    text-align: center;
}

footer ul {
    background-color: #444;
    padding: 30px 0;
    
}

footer  ul li {
    width: 280px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 30px;
    /* 真ん中にする */
    margin:  5px auto;
    
}

footer ul li a {
    /* [a]タグを広げて、「hover」したときに全体が反応するようにする */
    display: block;
    color: #fff;
    /* 下線を消す */
    text-decoration: none;
}
footer ul li a:hover {
    background-color: #000;
    color: #fff;
}

footer .logo {
    width: 160px;

}

footer p small {
    font-size: 10px;
    height: 30px;
    line-height:30px;
}


@media (min-width: 768px) {
    header {
        height: 80px;
    }
    header.logo {
        
        left: 25px;
        top: 24px;
        width: 250px;
    }

    header nav {
        display: block;
        /* 画面右側にする */
        position: absolute;
        right: 0;
        top: 21px;
      
    }
    header nav ul {
        padding-right :20px;
    }


    header nav ul li {
        display: inline-block;
       
        font-size: 17px;
        line-height: 35px;
        height: 35px;
        

    }

    header nav ul li a {
        display: block;
        padding: 0 20px;
        color: #cccccc;
        text-decoration: none;
        border-radius: 2px;
    }

    header nav ul  li:hover a {
        background-color: #B99566;
        color: #fff;
    }

    main {
        /* 画面サイズを広げた時に料理画像が途中で止まるようにする */
        max-width: 1000px;
        margin: 0 auto;
    }

    main .container {
        /* flexboxを入れる */
        display: flex;
        flex-wrap: wrap;
        /* 料理の画像の間に均等に余白ができるようにする */
        justify-content: space-between;
    }

    #information ul {
        /* 黒点を消す */
        list-style: none;
    }

    #information ul li p {
        display: inline-block;
    }

    #key_visual {
        margin-bottom: 30px;
    }
    
    /* flexboxで横並びになるようにしたので、画面の半分ずつの大きさにしたい */
    #gourmet article {
        /* 横に余白を作りたい */
        width: calc(50% - 5px);
    }


    footer ul li {
        display: inline-block;
        margin: 0 10px;
    }
}

@media (min-width:1000px) {
    main .container {
    padding: 10px 0;
    }
}
